Megahal/Makefile
Megahal/Megahal.bs
Megahal/Megahal.c
Megahal/Megahal.o
Megahal/blib
Megahal/const-c.inc
Megahal/const-xs.inc
Megahal/megahal.o
Megahal/pm_to_blib
build
libmh_tcl.so
main.o
megahal
megahal.brn
megahal.dic
megahal.dic.backup
megahal.log
megahal.o
megahal.txt
ruby/Hal.so
ruby/ruby-interface.o
tcl-interface.o
